{
  "openapi": "3.0.1",
  "info": {
    "title": "Proof Verifiable Credentials API Specification",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.proof.com",
      "description": "Public API URL"
    }
  ],
  "components": {
    "schemas": {
      "errors_object": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {
              "request": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "x401_payload": {
        "type": "object",
        "required": [
          "credential_requirements"
        ],
        "properties": {
          "credential_requirements": {
            "type": "object",
            "required": [
              "digital"
            ],
            "properties": {
              "digital": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "description": "Must contain exactly one Digital Credentials API request.",
                    "items": {
                      "type": "object",
                      "required": [
                        "protocol",
                        "data"
                      ],
                      "properties": {
                        "protocol": {
                          "type": "string",
                          "enum": [
                            "openid4vp-v1-signed"
                          ],
                          "description": "The DC API protocol. Only the signed variant `openid4vp-v1-signed` is supported."
                        },
                        "data": {
                          "type": "object",
                          "required": [
                            "request"
                          ],
                          "properties": {
                            "request": {
                              "type": "string",
                              "description": "The signed OID4VP request object (a JAR), as a compact JWS. It MUST have `typ` header `oauth-authz-req+jwt`, be signed with ES256 by a key whose JWK is registered on your OAuth Application, and carry the OID4VP request claims: `iss` (equal to `client_id`), `aud` (the Proof presentation issuer), `client_id`, `response_type` (`vp_token`), `response_mode` (`dc_api`), `scope`, `login_hint`, and `nonce`. For the intermediary flow, also include `expected_origins`."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "return_uri": {
            "type": "string",
            "description": "Optional. Enables the x401 intermediary return channel (https://x401.proof.com/spec/latest/#return-channel). When present, Proof POSTs the Verifiable Credential Presentation to this URI instead of the request object's `response_uri`. Its origin must be listed in the request object's `expected_origins`, and the request object must not itself specify a `response_uri`."
          }
        },
        "example": {
          "credential_requirements": {
            "digital": {
              "requests": [
                {
                  "protocol": "openid4vp-v1-signed",
                  "data": {
                    "request": "eyJ0eXAiOiJvYXV0aC1hdXRoei1yZXErand0Iiwia2lkIjoiNG1Ob2NoSUNJdjRhdThmRFR3eEtpcHhwcmdjc2VldjZwYV9BVm1UUmVQayIsImFsZyI6IkVTMjU2In0.eyJpc3MiOiJjYWdua3JhZGoiLCJhdWQiOiJodHRwczovL2FwaS5sb2NhbC5kZXYtbm90YXJpemUuY29tL3ZlcmlmaWFibGUtY3JlZGVudGlhbHMvdjEvcHJlc2VudGF0aW9uIiwiY2xpZW50X2lkIjoiY2FnbmtyYWRqIiwicmVzcG9uc2VfdHlwZSI6InZwX3Rva2VuIiwicmVzcG9uc2VfbW9kZSI6ImRjX2FwaSIsInNjb3BlIjoidXJuOnByb29mOnBhcmFtczpzY29wZTp2ZXJpZmlhYmxlLWNyZWRlbnRpYWxzOmJhc2ljIiwibG9naW5faGludCI6ImphbmUuZG9lQHByb29mLmNvbSIsIm5vbmNlIjoiZDc4ZjBiMTUtNjY1Zi00NzlmLTgwYTgtNDU2ZTY3NDMxZmQ5IiwiZXhwZWN0ZWRfb3JpZ2lucyI6WyJodHRwczovL2FnZW50LmV4YW1wbGUiXX0.jKtRn76uQBatTRf_vRX2_WL-ido-E-fjv1F3wePrWUcB_m93wLLPn3uCvgCnMFTS8XXhSiKsZl7IxDEX93JQmw"
                  }
                }
              ]
            }
          },
          "return_uri": "https://agent.example/return"
        }
      },
      "x401_handoff_response": {
        "type": "object",
        "properties": {
          "request_uri": {
            "type": "string",
            "description": "A link to the Proof-hosted flow where the End-User authorizes the Verifiable Credential Presentation."
          }
        }
      }
    }
  },
  "paths": {
    "/verifiable-credentials/v1/presentation/authorize": {
      "get": {
        "summary": "Authorize Verifiable Credential Presentation",
        "tags": [
          "OID4VP"
        ],
        "operationId": "authorizeVerifiableCredentialPresentation",
        "description": "Initiates an OID4VP Verifiable Credential Presentation request for the End-User identified by `login_hint`. Returns a 302 redirect to the Proof-hosted flow where the End-User authorizes the presentation. Once complete, Proof returns the Verifiable Credential Presentation according to `response_mode`: for `fragment`, the `vp_token` is appended as a URL fragment on a redirect back to `redirect_uri`; for `direct_post`, the `vp_token` is POSTed to `response_uri`.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Your Proof OAuth Application Client ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "vp_token"
              ]
            },
            "description": "The method used to return the Verifiable Credential Presentation. Only `vp_token` is supported."
          },
          {
            "name": "response_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fragment",
                "direct_post"
              ]
            },
            "description": "How the Verifiable Credential Presentation will be returned to the Verifier. Use `fragment` to have the `vp_token` returned as a URL fragment on a redirect to `redirect_uri`, or `direct_post` to have Proof POST the `vp_token` to `response_uri`."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "description": "Required when `response_mode` is `fragment`; not permitted otherwise. The redirect URI at which the Verifiable Credential Presentation will be returned as a URL fragment. Must match a redirect URI registered on your OAuth Application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_uri",
            "in": "query",
            "required": false,
            "description": "Required when `response_mode` is `direct_post`; not permitted otherwise. The URI to which Proof will POST the Verifiable Credential Presentation. Must match a redirect URI registered on your OAuth Application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "urn:proof:params:scope:verifiable-credentials:basic"
              ]
            },
            "description": "Space-separated list of scopes that translate to DCQL queries."
          },
          {
            "name": "login_hint",
            "in": "query",
            "required": false,
            "description": "The email address associated with the End-User you're requesting Verifiable Credential presentation from. Optional: when omitted, the End-User is identified by their Proof session, and is sent through login first if they are not already signed in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "description": "Opaque client-generated value bound to the presentation response to prevent replay.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Opaque value echoed back on the redirect to maintain state between the request and the callback.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_data",
            "in": "query",
            "required": false,
            "example": "eyJ0eXBlIjoidXJuOnByb29mOnBhcmFtczp2Yzp0cmFuc2FjdGlvbi1kYXRhOnNlc3Npb24tZGF0YSIsImNyZWRlbnRpYWxfaWRzIjpbInByb29mX2lkX2RlZmF1bHQiXSwicGF5bG9hZCI6eyJpcF9hZGRyZXNzIjoiMjAzLjAuMTEzLjAiLCJkZXZpY2VfaWQiOiJkZXZpY2UtMTk4OSJ9fQ",
            "description": "Space-separated base64url-encoded JSON objects. Each object carries transaction details the Verifier is asking the End-User to authorize, with the shape: \n\n- `type` (string, required): one of `urn:proof:params:vc:transaction-data:session-data`, `urn:proof:params:vc:transaction-data:payment-itemized:v1`, `urn:proof:params:vc:transaction-data:wire-instructions:v1`, or `urn:proof:params:vc:transaction-data:payment-mandate:v1`.\n- `credential_ids` (array of strings, required): must be a single-element array matching the credential ID targeted by `scope` (currently `proof_id_default`).\n- `payload` (object, required): type-specific fields authorized by the End-User.\n\nExample (decoded): `{\"type\":\"urn:proof:params:vc:transaction-data:session-data\",\"credential_ids\":[\"proof_id_default\"],\"payload\":{\"ip_address\":\"203.0.113.0\",\"device_id\":\"device-1989\"}}`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "successful",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URL of the Proof-hosted flow where the End-User authorizes the Verifiable Credential Presentation."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "errors": {
                    "request": [
                      "unauthorized_client"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/errors_object"
                }
              }
            }
          }
        }
      }
    },
    "/verifiable-credentials/v1/x401-handoff": {
      "post": {
        "summary": "Hand off an x401 Verifiable Credential Presentation request",
        "tags": [
          "OID4VP"
        ],
        "operationId": "createPresentationX401Handoff",
        "description": "Accepts an x401 payload (https://x401.proof.com/spec/latest/#x401-payload) that wraps a Digital Credentials API request (https://www.w3.org/TR/digital-credentials/#DC-API) using the `openid4vp-v1-signed` protocol, and processes it as an OID4VP presentation request for the End-User identified by the `login_hint` claim of the signed request object. \n\nThe real OID4VP request is carried inside the signed request object at `credential_requirements.digital.requests[0].data.request`: a compact JWS with `typ` header `oauth-authz-req+jwt`, signed with ES256 by a key whose JWK is registered on your OAuth Application. Your `client_id` is conveyed by the request object's `iss`/`client_id` claims. Its `response_mode` must be `dc_api`. \n\nOn success Proof returns a `request_uri` suitable for presenting to the End-User via their AI agent. Supply a top-level `return_uri` to use the x401 intermediary return channel (https://x401.proof.com/spec/latest/#return-channel); its origin must appear in the request object's `expected_origins`.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "request_uri": "https://link.local.dev-notarize.com/s/fIdOQsfy8rTKmSqYwVnkGg"
                },
                "schema": {
                  "$ref": "#/components/schemas/x401_handoff_response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "errors": {
                    "request": [
                      "payload is invalid"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/errors_object"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/x401_payload"
              }
            }
          },
          "required": true
        }
      }
    }
  }
}