{
  "openapi": "3.0.1",
  "info": {
    "title": "Proof Verifiable Credentials API Specification",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.proof.com",
      "description": "Public API URL"
    }
  ],
  "components": {
    "schemas": {
      "errors_object": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "object",
            "properties": {
              "request": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/verifiable-credentials/v1/presentation/authorize": {
      "get": {
        "summary": "Authorize Verifiable Credential Presentation",
        "tags": [
          "OID4VP"
        ],
        "operationId": "authorizeVerifiableCredentialPresentation",
        "description": "Initiates an OID4VP Verifiable Credential Presentation request for the End-User identified by `login_hint`. Returns a 302 redirect to the Proof-hosted flow where the End-User authorizes the presentation. Once complete, Proof returns the Verifiable Credential Presentation according to `response_mode`: for `fragment`, the `vp_token` is appended as a URL fragment on a redirect back to `redirect_uri`; for `direct_post`, the `vp_token` is POSTed to `response_uri`.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "description": "Your Proof OAuth Application Client ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "vp_token"
              ]
            },
            "description": "The method used to return the Verifiable Credential Presentation. Only `vp_token` is supported."
          },
          {
            "name": "response_mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fragment",
                "direct_post"
              ]
            },
            "description": "How the Verifiable Credential Presentation will be returned to the Verifier. Use `fragment` to have the `vp_token` returned as a URL fragment on a redirect to `redirect_uri`, or `direct_post` to have Proof POST the `vp_token` to `response_uri`."
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": false,
            "description": "Required when `response_mode` is `fragment`; not permitted otherwise. The redirect URI at which the Verifiable Credential Presentation will be returned as a URL fragment. Must match a redirect URI registered on your OAuth Application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "response_uri",
            "in": "query",
            "required": false,
            "description": "Required when `response_mode` is `direct_post`; not permitted otherwise. The URI to which Proof will POST the Verifiable Credential Presentation. Must match a redirect URI registered on your OAuth Application.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "urn:proof:params:scope:verifiable-credentials:basic"
              ]
            },
            "description": "Space-separated list of scopes that translate to DCQL queries."
          },
          {
            "name": "login_hint",
            "in": "query",
            "required": true,
            "description": "The email address associated with the End-User you're requesting Verifiable Credential presentation from.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "query",
            "required": true,
            "description": "Opaque client-generated value bound to the presentation response to prevent replay.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Opaque value echoed back on the redirect to maintain state between the request and the callback.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transaction_data",
            "in": "query",
            "required": false,
            "example": "eyJ0eXBlIjoidXJuOnByb29mOnBhcmFtczp2Yzp0cmFuc2FjdGlvbi1kYXRhOnNlc3Npb24tZGF0YSIsImNyZWRlbnRpYWxfaWRzIjpbInByb29mX2lkX2RlZmF1bHQiXSwicGF5bG9hZCI6eyJpcF9hZGRyZXNzIjoiMjAzLjAuMTEzLjAiLCJkZXZpY2VfaWQiOiJkZXZpY2UtMTk4OSJ9fQ",
            "description": "Space-separated base64url-encoded JSON objects. Each object carries transaction details the Verifier is asking the End-User to authorize, with the shape: \n\n- `type` (string, required): one of `urn:proof:params:vc:transaction-data:session-data`, `urn:proof:params:vc:transaction-data:payment-itemized:v1`, `urn:proof:params:vc:transaction-data:wire-instructions:v1`, or `urn:proof:params:vc:transaction-data:payment-mandate:v1`.\n- `credential_ids` (array of strings, required): must be a single-element array matching the credential ID targeted by `scope` (currently `proof_id_default`).\n- `payload` (object, required): type-specific fields authorized by the End-User.\n\nExample (decoded): `{\"type\":\"urn:proof:params:vc:transaction-data:session-data\",\"credential_ids\":[\"proof_id_default\"],\"payload\":{\"ip_address\":\"203.0.113.0\",\"device_id\":\"device-1989\"}}`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "successful",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URL of the Proof-hosted flow where the End-User authorizes the Verifiable Credential Presentation."
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "errors": {
                    "request": [
                      "unauthorized_client"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/errors_object"
                }
              }
            }
          }
        }
      }
    }
  }
}