{
  "openapi": "3.0.1",
  "info": {
    "title": "Proof Real Estate API Specification",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.proof.com",
      "description": "Public API URL"
    }
  ],
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "ApiKey",
        "in": "header"
      }
    },
    "schemas": {
      "errors_object": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 5000,
            "description": "Deprecated; prefer using the errors array instead"
          },
          "errors": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object"
              }
            ]
          }
        }
      },
      "webhook_tests_error_object": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "maxLength": 5000
          }
        }
      },
      "webhook_object": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 5000,
            "description": "Proof will make a POST request to this URL for every event."
          },
          "header": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000,
            "description": "Proof will add this header to every POST request."
          }
        },
        "required": [
          "url"
        ],
        "example": {
          "url": "http://www.google.com"
        }
      },
      "webhook_v2_subscriptions": {
        "description": "An array containing the desired events that Proof should POST a webhook for.\nSee our [Webhooks V2 guide](https://dev.proof.com/docs/webhooks-v2) for a list of valid subscriptions.",
        "type": "array",
        "items": {
          "type": "string",
          "enum": [
            "*",
            "transaction.*",
            "transaction.created",
            "transaction.sent",
            "transaction.updated",
            "transaction.received",
            "transaction.completed",
            "transaction.completed_with_rejections",
            "transaction.partially_completed",
            "transaction.deleted",
            "transaction.recalled",
            "transaction.expired",
            "transaction.released",
            "transaction.held_for_review",
            "transaction.declined",
            "transaction.reviewed",
            "transaction.sent_to_closing_ops",
            "transaction.sent_to_signer",
            "transaction.sent_to_title_agency",
            "transaction.document.upload",
            "transaction.document.processed",
            "transaction.import.processed",
            "transaction.import.failed",
            "transaction.meeting.created",
            "transaction.meeting.failed",
            "transaction.meeting.requested",
            "transaction.meeting.video.processed",
            "transaction.notary.assigned",
            "transaction.signer.kba_failed",
            "transaction.signer.kba_passed",
            "transaction.signer.high_risk_detected",
            "transaction.signer.medium_risk_detected",
            "transaction.transaction.automated_identity_verification_by_idv_service_failed",
            "transaction.transaction.automated_identity_verification_by_idv_service_passed",
            "transaction.underwriter.not_available",
            "notary.*",
            "notary.created",
            "notary.needs_review",
            "notary.compliant",
            "notary.non_compliant",
            "notary.signer_ready"
          ]
        }
      },
      "webhook_v2_params": {
        "description": "An object containing Webhook V2 creation parameters.",
        "type": "object",
        "properties": {
          "url": {
            "description": "Proof will make a POST request to this URL for every subscribed event.",
            "type": "string",
            "maxLength": 5000
          },
          "header": {
            "description": "A header value to pass through every request Proof makes back to your webhook URL.\nThis can be required authentication to your system for security purposes. (E.g. \"header\": \"X-Custom-Header:X-Custom-Key\")",
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "request_id_header_name": {
            "description": "The name of the header that will contain the request ID for each webhook request. Defaults to X-Request-Id.",
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "headers": {
            "description": "A list of header values to pass through every request Proof makes back to your webhook URL.\nThis can be required authentication to your system for security purposes. (E.g. \"headers\": [\"[X-Custom-Header]:[X-Custom-Key]\"]). If passed, value for header (singular) is ignored.",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 5000
            },
            "nullable": true
          },
          "signing_key": {
            "description": "A signing key to sign the webhook payloads with. This is used to verify the authenticity of the webhook requests.\nIf not passed and if using api keys to authenticate, Proof will use the api key to sign the payloads. https://dev.proof.com/docs/webhooks-v2#security",
            "type": "string",
            "nullable": true
          },
          "oauth_config": {
            "description": "OAuth 2.0 client-credentials block. Supply either this object or an API key/header to authenticate incoming webhook requests.",
            "type": "object",
            "nullable": true,
            "properties": {
              "oauth_token_url": {
                "description": "Token endpoint URL where Proof will request bearer tokens.",
                "type": "string",
                "format": "uri"
              },
              "client_id": {
                "description": "OAuth client ID.",
                "type": "string"
              },
              "client_secret": {
                "description": "OAuth client secret.",
                "type": "string",
                "writeOnly": true
              }
            },
            "required": [
              "oauth_token_url",
              "client_id",
              "client_secret"
            ]
          },
          "subscriptions": {
            "$ref": "#/components/schemas/webhook_v2_subscriptions"
          }
        },
        "required": [
          "url",
          "subscriptions"
        ],
        "example": {
          "url": "https://www.yourapp.com/proof_webhooks",
          "header": "X-Custom-Header:X-Custom-Key",
          "subscriptions": [
            "transaction.*"
          ]
        }
      },
      "webhook_v2_object": {
        "description": "An object representing a Webhook V2.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the Webhook V2 object.",
            "maxLength": 5000,
            "type": "string"
          },
          "url": {
            "description": "Proof will make a POST request to this URL for every subscribed event.",
            "maxLength": 5000,
            "type": "string"
          },
          "header": {
            "description": "A header value to pass through every request Proof makes back to your webhook URL.\nThis can be required authentication to your system for security purposes. (E.g. \"header\": \"X-Custom-Header:X-Custom-Key\")",
            "maxLength": 5000,
            "type": "string",
            "nullable": true
          },
          "headers": {
            "description": "A list of header values to pass through every request Proof makes back to your webhook URL.\nThis can be required authentication to your system for security purposes. (E.g. \"headers\": [\"[X-Custom-Header]:[X-Custom-Key]\"])",
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 5000
            }
          },
          "enabled": {
            "description": "A boolean value to indicate if the webhook is active.",
            "type": "boolean"
          },
          "request_id_header_name": {
            "description": "The name of the header that will contain the request ID for each webhook request. Defaults to X-Request-Id.",
            "type": "string"
          },
          "request_id_header_value_template": {
            "type": "string",
            "nullable": true
          },
          "oauth": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "token_url": {
                "type": "string",
                "nullable": true
              },
              "client_id": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "subscriptions": {
            "$ref": "#/components/schemas/webhook_v2_subscriptions"
          }
        },
        "required": [
          "id",
          "url",
          "enabled",
          "subscriptions"
        ]
      },
      "webhook_v2_event": {
        "description": "An object representing a Webhook V2 event.",
        "type": "object",
        "properties": {
          "event": {
            "description": "The Webhook V2 event type. See our [Webhooks V2 guide](https://dev.proof.com/docs/webhooks-v2) for a list of valid events.",
            "maxLength": 5000,
            "type": "string",
            "enum": [
              "transaction.*",
              "transaction.created",
              "transaction.sent",
              "transaction.updated",
              "transaction.received",
              "transaction.completed",
              "transaction.completed_with_rejections",
              "transaction.partially_completed",
              "transaction.deleted",
              "transaction.recalled",
              "transaction.expired",
              "transaction.released",
              "transaction.held_for_review",
              "transaction.declined",
              "transaction.reviewed",
              "transaction.sent_to_closing_ops",
              "transaction.sent_to_signer",
              "transaction.sent_to_title_agency",
              "transaction.document.upload",
              "transaction.document.processed",
              "transaction.import.processed",
              "transaction.import.failed",
              "transaction.meeting.created",
              "transaction.meeting.failed",
              "transaction.meeting.requested",
              "transaction.meeting.video.processed",
              "transaction.notary.assigned",
              "transaction.signer.kba_failed",
              "transaction.signer.kba_passed",
              "transaction.signer.high_risk_detected",
              "transaction.signer.medium_risk_detected",
              "transaction.transaction.automated_identity_verification_by_idv_service_failed",
              "transaction.transaction.automated_identity_verification_by_idv_service_passed",
              "transaction.underwriter.not_available",
              "notary.*",
              "notary.created",
              "notary.needs_review",
              "notary.compliant",
              "notary.non_compliant",
              "notary.signer_ready"
            ]
          },
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "description": "The body of the response from your webhook receiver.",
                "maxLength": 5000,
                "type": "string"
              },
              "code": {
                "description": "The status code of the response from your webhook receiver.",
                "maxLength": 5000,
                "type": "integer"
              },
              "headers": {
                "properties": {
                  "date": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "etag": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "connection": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "content-type": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "x-powered-by": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "content-length": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "access-control-allow-origin": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              }
            }
          },
          "delivered": {
            "description": "The date and time of the event delivery in ISO-8601 format.",
            "maxLength": 100,
            "type": "string"
          },
          "payload": {
            "description": "The payload of the event.",
            "maxLength": 5000,
            "type": "string"
          }
        }
      },
      "webhook_v2_signing_status_event": {
        "description": "An object representing a Webhook V2 event that includes signing status for signers.",
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "maxLength": 5000,
            "description": "The Webhook V2 event type.",
            "enum": [
              "transaction.meeting.requested",
              "transaction.meeting.created",
              "transaction.meeting.failed",
              "transaction.signer.kba_passed",
              "transaction.signer.kba_failed",
              "transaction.partially_completed"
            ]
          },
          "response": {
            "type": "object",
            "properties": {
              "body": {
                "description": "The body of the response from your webhook receiver.",
                "maxLength": 5000,
                "type": "string"
              },
              "code": {
                "description": "The status code of the response from your webhook receiver.",
                "maxLength": 5000,
                "type": "integer"
              },
              "headers": {
                "properties": {
                  "date": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "etag": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "connection": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "content-type": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "x-powered-by": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "content-length": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "access-control-allow-origin": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              }
            }
          },
          "delivered": {
            "description": "The date and time of the event delivery in ISO-8601 format.",
            "maxLength": 100,
            "type": "string"
          },
          "payload": {
            "description": "The payload of the event. Contains structured data with signing status information.",
            "type": "object",
            "properties": {
              "event": {
                "type": "string",
                "maxLength": 5000,
                "description": "The Webhook V2 event type."
              },
              "data": {
                "type": "object",
                "properties": {
                  "transaction_id": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "The ID of the transaction associated with the event."
                  },
                  "transaction_detailed_status": {
                    "type": "string",
                    "maxLength": 5000,
                    "description": "The detailed status of the transaction."
                  },
                  "date_occurred": {
                    "type": "string",
                    "format": "date-time",
                    "maxLength": 100,
                    "description": "The date and time when the event occurred."
                  },
                  "signers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "external_id": {
                          "type": "string",
                          "maxLength": 5000,
                          "description": "A string representing an ID external to Proof's systems."
                        },
                        "signer_id": {
                          "type": "string",
                          "maxLength": 5000,
                          "description": "The ID of the signer."
                        },
                        "first_name": {
                          "type": "string",
                          "maxLength": 5000,
                          "description": "First name of the signer."
                        },
                        "middle_name": {
                          "type": "string",
                          "maxLength": 5000,
                          "description": "Middle name of the signer."
                        },
                        "last_name": {
                          "type": "string",
                          "maxLength": 5000,
                          "description": "Last name of the signer."
                        },
                        "signing_status": {
                          "type": "string",
                          "enum": [
                            "incomplete",
                            "in_progress",
                            "complete"
                          ],
                          "description": "The current signing status for the signer."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "webhook_payload_object": {
        "type": "object",
        "properties": {
          "event": {
            "type": "string",
            "enum": [
              "notary.compliant",
              "notary.created",
              "notary.needs_review",
              "notary.non_compliant",
              "notary.signer_ready",
              "transaction.created",
              "transaction.deleted",
              "transaction.expired",
              "transaction.updated",
              "transaction.recalled",
              "transaction.reviewed",
              "transaction.document.upload",
              "transaction.document.processed",
              "transaction.meeting.created",
              "transaction.meeting.created",
              "transaction.meeting.failed",
              "transaction.meeting.requested",
              "transaction.meeting.video.processed",
              "transaction.notary.assigned",
              "transaction.sent_to_closing_ops",
              "transaction.sent_to_signer",
              "transaction.sent_to_title_agency",
              "transaction.signer.kba_failed",
              "transaction.signer.kba_passed",
              "transaction.underwriter.not_available",
              "transaction.partially_completed",
              "transaction.completed",
              "transaction.completed",
              "transaction.released",
              "transaction.completed_with_rejection"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "date_occurred": {
                "description": "The date and time of the event in ISO-8601 format.",
                "type": "string"
              },
              "document": {
                "type": "object",
                "properties": {
                  "document_id": {
                    "description": "Document ID",
                    "type": "string"
                  },
                  "name": {
                    "description": "Document name",
                    "type": "string"
                  }
                }
              },
              "meeting": {
                "type": "object",
                "properties": {
                  "meeting_id": {
                    "description": "Meeting ID",
                    "type": "string"
                  },
                  "api_url": {
                    "description": "Meeting video URL",
                    "type": "string"
                  }
                }
              },
              "notary_id": {
                "description": "Notary ID",
                "type": "string"
              },
              "organization_name": {
                "description": "Name of customer organization account on Proof platform",
                "type": "string"
              },
              "signers": {
                "description": "A list of signers associated with an event",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/webhook_payload_signer_object"
                }
              },
              "transaction_id": {
                "description": "Transaction ID",
                "type": "string"
              },
              "transaction_access_link": {
                "description": "Signer facing transaction access link",
                "type": "string"
              }
            }
          }
        }
      },
      "webhook_payload_signer_object": {
        "type": "object",
        "properties": {
          "first_name": {
            "description": "Signer first name",
            "type": "string"
          },
          "middle_name": {
            "description": "Signer middle name",
            "type": "string"
          },
          "last_name": {
            "description": "Signer last name",
            "type": "string"
          },
          "external_id": {
            "description": "External signer id supplied by Proof customer",
            "type": "string"
          },
          "signer_id": {
            "description": "Signer ID",
            "type": "string"
          },
          "kba_passed": {
            "description": "A boolean value to indicate if signer passed KBA",
            "type": "boolean"
          },
          "full_verification_process_passed": {
            "description": "A boolean value to indicate if signer passed the verification process fully",
            "type": "boolean"
          },
          "credential_analysis_passed": {
            "description": "A boolean value to indicate if signer passed Credential Analysis",
            "type": "boolean"
          },
          "selfie_passed": {
            "description": "A boolean value to indicate if signer passed selfie check",
            "type": "boolean"
          }
        }
      },
      "webhook_test_object": {
        "type": "object",
        "properties": {
          "webhook_body": {
            "type": "object",
            "properties": {
              "event": {
                "type": "string",
                "maxLength": 5000
              },
              "data": {
                "type": "object",
                "properties": {
                  "transaction_id": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "status": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              }
            }
          }
        },
        "example": {
          "webhook_body": {
            "event": "user_failed_transaction",
            "data": {
              "transaction_id": "ot_ny695pd",
              "details": "User Exceeded Authentication Attempts"
            }
          }
        }
      },
      "activate_draft_params": {
        "type": "object",
        "properties": {
          "suppress_email": {
            "type": "boolean",
            "description": "If sent as true, Proof will not send a notification email to the signer when the transaction is activated. If you use this feature, you are responsible for providing the signer with the `transaction_access_link`. This value is not stored on the transaction."
          },
          "require_new_signer_verification": {
            "type": "boolean",
            "description": "Does the signer need to verify email ownership"
          },
          "skip_closing_ops": {
            "type": "boolean",
            "description": "Send to closing ops or not. Defaults to false."
          }
        },
        "example": {
          "suppress_email": false,
          "require_new_signer_verification": true,
          "skip_closing_ops": false
        }
      },
      "recording_location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of the recording location."
          },
          "name": {
            "type": "string",
            "maxLength": 5000,
            "description": "The name of the recording location."
          },
          "state": {
            "type": "string",
            "maxLength": 5000,
            "description": "The US state of the recording location."
          },
          "supported": {
            "type": "boolean",
            "description": "Whether erecording is supported at the recording location"
          },
          "recording_type": {
            "type": "string",
            "maxLength": 5000,
            "description": "The type of recording supported at the location. ELECTRONIC, PAPER, or NONE."
          },
          "eligible": {
            "type": "boolean",
            "description": "Allowed legally and by organizations preferences."
          },
          "eligible_title_agencies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/title_agency"
            },
            "description": "The title agencies that are eligible for the recording location."
          },
          "eligible_title_underwriters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organization"
            },
            "description": "The title underwriters that are eligible for the recording location."
          }
        }
      },
      "title_agency": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of the title agency."
          },
          "name": {
            "type": "string",
            "maxLength": 5000,
            "description": "The name of the title agency."
          },
          "alta_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "The ALTA ID of the title agency."
          },
          "address": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "The address of the title agency."
          },
          "eligible_underwriters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/organization"
            },
            "nullable": true,
            "description": "The list of title underwriters that the title agency works with."
          },
          "company_notaries": {
            "type": "boolean",
            "description": "Whether the title agency has company notaries."
          }
        }
      },
      "organization": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of the organization."
          },
          "name": {
            "type": "string",
            "maxLength": 5000,
            "description": "The name of the organization."
          }
        }
      },
      "branding": {
        "type": "object",
        "properties": {
          "logo_image": {
            "type": "string",
            "maxLength": 15000000,
            "description": "Supported formats include either a valid, accessible image URL or base64 encoded image file data string.\nMost common image formats are supported. Note that successfully imported logo images are resized to 640x640 pixels and\nconverted to png format."
          }
        },
        "description": "Specifies a list of co-branding related attributes for the partner organization."
      },
      "organization_object": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 30
          },
          "name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Name of the partner organization"
          },
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "A unique email associated with this organization"
          },
          "branding": {
            "type": "object",
            "properties": {
              "logo": {
                "type": "string",
                "maxLength": 15000000,
                "description": "Supported formats include either a valid, accessible image URL or base64 encoded image file data string.\nMost common image formats are supported. Note that successfully imported logo images are resized to 640x640 pixels and converted to png format."
              }
            },
            "description": "Specifies co-branding related attributes for the partner organization."
          },
          "logo_s3_link": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          }
        },
        "required": [
          "name"
        ],
        "example": {
          "name": "New Organization Name",
          "email": "org_controller_spec@proof.com"
        }
      },
      "transaction_params": {
        "type": "object",
        "properties": {
          "activation_time": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String, optionally including a timezone offset. If timezone offset is not provided, the Proof account\u2019s default timezone settings will be applied. This param sets the time after which the signer is permitted to connect with a notary to complete the transaction. If a signer attempts to connect with a notary before this time is reached, the signer will be only permitted to review documents."
          },
          "file_number": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unique value used to map transactions to a title agency\u2019s records and systems. Including this value helps streamline communications with the title company who is supporting the transaction."
          },
          "loan_number": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unique value used to map transactions to your own records and systems. Providing loan_number as part of a create transaction request ensures it is visible to all users to manage the transaction."
          },
          "paper_note_consent": {
            "type": "boolean",
            "description": "Allows a lender to create a hybrid transaction and bypass the eNote requirement."
          },
          "signer": {
            "$ref": "#/components/schemas/signer"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/signers"
            },
            "description": "An array of signer objects each with at minimum the email field set (limit 10 signers per transaction). The request to notarize the document will be sent to that email address."
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/bundle_order"
            }
          },
          "cosigner": {
            "$ref": "#/components/schemas/cosigner"
          },
          "recording_jurisdiction_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "RECOMMENDED: The id of the recording jurisdiction the property address is within. If this is not provided we will attempt to find the jurisdiction based on the provided street_address."
          },
          "title_agency_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "Required for Lenders. The id of the title agency participating on the transaction. Returned in the /verify_address call. If title_agency_id is empty, contact with role of title_agent is required."
          },
          "draft": {
            "type": "boolean",
            "description": "When set to true, the transaction will be created in a Draft state. This attribute is typically used when managing multi-document transactions. When the transaction is in draft state, transaction attributes can be modified and additional documents can be added to the bundle, using the documents API. To activate the transaction, the notarization_ready API endpoint must be called."
          },
          "expiration_time": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String, optionally including the timezone offset. If timezone offset is not provided, the account\u2019s default timezone settings will be applied. This param sets time after which the signer is NOT permitted to connect with a notary to complete the transaction. If a signer attempts to complete the transaction after this time is reached, they will receive an error. Expiration time is optional, and no default is set if this parameter is left blank. Any transaction that expires is no longer editable, and a new transaction must be created."
          },
          "external_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "A string representing an ID external to Proof's systems. Use this to associate a transaction to an ID that your systems understand, such as an Order ID or system GUID."
          },
          "transaction_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Short, human-readable name for the transaction - eg. Miguel's TPS notarization for Leeroy. Defaults to Untitled Transaction."
          },
          "title_underwriter_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The id of the title underwriter participating on the transaction. Returned in the /verify_address call."
          },
          "transaction_type": {
            "type": "string",
            "enum": [
              "refinance",
              "trailing_docs",
              "purchase_seller",
              "purchase_buyer_cash",
              "purchase_buyer_loan",
              "heloc",
              "loan_mod_borrower",
              "other",
              "hybrid_refinance",
              "hybrid_trailing_docs",
              "hybrid_purchase_seller",
              "hybrid_purchase_buyer_cash",
              "hybrid_purchase_buyer_loan",
              "hybrid_other",
              "wet_sign"
            ],
            "description": "Accepted values: refinance, trailing_docs, purchase_seller, purchase_buyer_cash, purchase_buyer_loan, heloc, loan_mod_borrower, other, hybrid_refinance, hybrid_trailing_docs, hybrid_purchase_seller, hybrid_purchase_buyer_cash, hybrid_purchase_buyer_loan, hybrid_other, wet_sign. The refinance and purchase_buyer_loan transaction types require an eNote. Hybrid transactions are notarized off of the Notarize Network platform. Wet sign transactions do not require a `signers` parameter and can only have a document requirement of `esign_supervised`."
          },
          "message_to_signer": {
            "type": "string",
            "maxLength": 30000,
            "description": "Message to signer using GitHub Flavored Markdown. Html, images, links, and code are stripped out. Can be used to provide instructions, thank customers, add additional context to the transaction, or simply to add a personal touch. The message will be added to the email sent to the signer. (30,000 character limit)"
          },
          "message_subject": {
            "type": "string",
            "maxLength": 30000,
            "description": "Subject line of email to signer."
          },
          "message_signature": {
            "type": "string",
            "maxLength": 30000,
            "description": "Signature in email to signer."
          },
          "pdf_bookmarked": {
            "type": "boolean",
            "description": "Split the document by bookmarks if it is a pdf"
          },
          "require_secondary_id": {
            "type": "boolean",
            "description": "Certain businesses and transaction types may need signers to provide two forms of photo identification.\nThis feature enables you to require two forms on a transaction.\nIf true, the signer cannot proceed to the notary meeting without first providing two forms of photo ID during the Proof identity verification process. If false (default), the signer can proceed to notary meeting after providing one form of photo ID."
          },
          "suppress_email": {
            "type": "boolean",
            "description": "If sent as true during activation, Proof will not send a notification email to the signer when the transaction is activated. If you use this feature, you are responsible for providing the signer with the `transaction_access_link`. This value is not stored on the transaction and must be provided anytime the transaction is activated."
          },
          "require_new_signer_verification": {
            "type": "boolean",
            "description": "When set to false, Proof will not require a new signer to verify their email address before moving into the transaction flow."
          },
          "notary_instructions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/notary_instructions"
            }
          },
          "notary_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "User ID (\"us_xxxxxxx\") of the assigned Notary.\nEligible notaries must be either a connected BYOT notary, or a BYON notary who is a member of your organization.\nNotary assignment is not a strict requirement. When this parameter is specified, the notary will be sent an SMS that the signer is about to enter the waiting room,\n but the notary can take any signer in the queue, and any available notary can take the signer."
          },
          "redirect": {
            "$ref": "#/components/schemas/redirect"
          },
          "street_address": {
            "$ref": "#/components/schemas/address"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contact"
            }
          },
          "notary_meeting_time": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time",
            "description": "An ISO-8061 formatted DateTime String, optionally including the timezone offset.\nMeeting time will be shown to signer in default emails. Proof will not prevent the signer or notary from starting the meeting at any other time."
          },
          "organization_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The organization id of a child account. If the authenticated account has child accounts, specifying this parameter will create the transaction in the provided child org."
          },
          "document_url_version": {
            "type": "string",
            "description": "Optional param to test v2 document urls.",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "cc_recipient_emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cc_recipient_email"
            },
            "description": "An array of email addresses to CC on the transaction. They will receive notification when it is sent and completed and be able to view the completed documents."
          },
          "config_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of the config used for this transaction. This will ensure that the transaction will load as expected in your dashboard if you need to make any edits. Once set this cannot be edited. Available values: [\"hybrid_purchase_buyer_loan\", \"hybrid_refinance\", \"hybrid_trailing_docs\", \"identify\", \"lender_heloc\", \"lender_loan_mod_borrower\", \"lender_refinance\", \"notarization\", \"other\", \"purchase_buyer\", \"purchase_buyer_loan\", \"purchase_seller\", \"real_estate_identify\", \"real_estate_sign\", \"real_estate_verify\", \"sign\", \"title_heloc\", \"title_loan_mod_borrower\", \"trailing_docs\", \"verify\"]"
          }
        },
        "required": [
          "signer",
          "transaction_type"
        ],
        "example": {
          "transaction_name": "new_transaction_name",
          "message_to_signer": "new_transaction_message"
        }
      },
      "bundle_order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000
          },
          "bundle_position": {
            "type": "integer",
            "description": "Position to put document in bundle"
          }
        }
      },
      "transaction_create_params": {
        "type": "object",
        "properties": {
          "activation_time": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String, optionally including a timezone offset. If timezone offset is not provided, the Proof account\u2019s default timezone settings will be applied. This param sets the time after which the signer is permitted to connect with a notary to complete the transaction. If a signer attempts to connect with a notary before this time is reached, the signer will be only permitted to review documents."
          },
          "file_number": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unique value used to map transactions to a title agency\u2019s records and systems. Including this value helps streamline communications with the title company who is supporting the transaction."
          },
          "loan_number": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unique value used to map transactions to your own records and systems. Providing loan_number as part of a create transaction request ensures it is visible to all users to manage the transaction."
          },
          "paper_note_consent": {
            "type": "boolean",
            "description": "Allows a lender to create a hybrid transaction and bypass the eNote requirement."
          },
          "signer": {
            "$ref": "#/components/schemas/signer"
          },
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/signers"
            },
            "description": "An array of signer objects each with at minimum the email field set (limit 10 signers per transaction). The request to notarize the document will be sent to that email address."
          },
          "cosigner": {
            "$ref": "#/components/schemas/cosigner"
          },
          "recording_jurisdiction_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "RECOMMENDED: The id of the recording jurisdiction the property address is within. If this is not provided we will attempt to find the jurisdiction based on the provided street_address."
          },
          "title_agency_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "Required for Lenders. The id of the title agency participating on the transaction. Returned in the /verify_address call. If title_agency_id is empty, contact with role of title_agent is required."
          },
          "draft": {
            "type": "boolean",
            "description": "When set to true, the transaction will be created in a Draft state. This attribute is typically used when managing multi-document transactions. When the transaction is in draft state, transaction attributes can be modified and additional documents can be added to the bundle, using the documents API. To activate the transaction, the notarization_ready API endpoint must be called."
          },
          "expiration_time": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String, optionally including the timezone offset. If timezone offset is not provided, the account\u2019s default timezone settings will be applied. This param sets time after which the signer is NOT permitted to connect with a notary to complete the transaction. If a signer attempts to complete the transaction after this time is reached, they will receive an error. Expiration time is optional, and no default is set if this parameter is left blank. Any transaction that expires is no longer editable, and a new transaction must be created."
          },
          "external_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "A string representing an ID external to Proof's systems. Use this to associate a transaction to an ID that your systems understand, such as an Order ID or system GUID."
          },
          "transaction_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Short, human-readable name for the transaction - eg. Miguel's TPS notarization for Leeroy. Defaults to Untitled Transaction."
          },
          "title_underwriter_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The id of the title underwriter participating on the transaction. Returned in the /verify_address call."
          },
          "transaction_type": {
            "type": "string",
            "enum": [
              "refinance",
              "trailing_docs",
              "purchase_seller",
              "purchase_buyer_cash",
              "purchase_buyer_loan",
              "heloc",
              "loan_mod_borrower",
              "other",
              "hybrid_refinance",
              "hybrid_trailing_docs",
              "hybrid_purchase_seller",
              "hybrid_purchase_buyer_cash",
              "hybrid_purchase_buyer_loan",
              "hybrid_other",
              "wet_sign",
              "real_estate_esign",
              "real_estate_proof"
            ],
            "description": "Accepted values: refinance, trailing_docs, purchase_seller, purchase_buyer_cash, purchase_buyer_loan, heloc, loan_mod_borrower, other, hybrid_refinance, hybrid_trailing_docs, hybrid_purchase_seller, hybrid_purchase_buyer_cash, hybrid_purchase_buyer_loan, hybrid_other, wet_sign, real_estate_esign, real_estate_proof. The refinance and purchase_buyer_loan transaction types require an eNote. Hybrid transactions are notarized off of the Notarize Network platform. Wet sign transactions do not require a `signers` parameter and can only have a document requirement of `esign_supervised`."
          },
          "message_to_signer": {
            "type": "string",
            "maxLength": 30000,
            "description": "Message to signer using GitHub Flavored Markdown. Html, images, links, and code are stripped out. Can be used to provide instructions, thank customers, add additional context to the transaction, or simply to add a personal touch. The message will be added to the email sent to the signer. (30,000 character limit)"
          },
          "message_subject": {
            "type": "string",
            "maxLength": 30000,
            "description": "Subject line of email to signer."
          },
          "message_signature": {
            "type": "string",
            "maxLength": 30000,
            "description": "Signature in email to signer."
          },
          "pdf_bookmarked": {
            "type": "boolean",
            "description": "Split the document by bookmarks if it is a pdf"
          },
          "require_secondary_id": {
            "type": "boolean",
            "description": "Certain businesses and transaction types may need signers to provide two forms of photo identification.\nThis feature enables you to require two forms on a transaction.\nIf true, the signer cannot proceed to the notary meeting without first providing two forms of photo ID during the Proof identity verification process. If false (default), the signer can proceed to notary meeting after providing one form of photo ID."
          },
          "suppress_email": {
            "type": "boolean",
            "description": "If sent as true during activation, Proof will not send a notification email to the signer when the transaction is activated. If you use this feature, you are responsible for providing the signer with the `transaction_access_link`. This value is not stored on the transaction and must be provided anytime the transaction is activated."
          },
          "notary_instructions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/notary_instructions"
            }
          },
          "notary_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "User ID (\"us_xxxxxxx\") of the assigned Notary.\nEligible notaries must be either a connected BYOT notary, or a BYON notary who is a member of your organization.\nNotary assignment is not a strict requirement. When this parameter is specified, the notary will be sent an SMS that the signer is about to enter the waiting room,\n but the notary can take any signer in the queue, and any available notary can take the signer."
          },
          "redirect": {
            "$ref": "#/components/schemas/redirect"
          },
          "street_address": {
            "$ref": "#/components/schemas/address"
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contact"
            }
          },
          "notary_meeting_time": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time",
            "description": "An ISO-8061 formatted DateTime String, optionally including the timezone offset.\nMeeting time will be shown to signer in default emails. Proof will not prevent the signer or notary from starting the meeting at any other time."
          },
          "organization_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The organization id of a child account. If the authenticated account has child accounts, specifying this parameter will create the transaction in the provided child org."
          },
          "document_url_version": {
            "type": "string",
            "description": "Optional param to test v2 document urls.",
            "enum": [
              "v1",
              "v2"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/document_params"
            },
            "description": "Documents to be signed or notarized. Accepted as an array of document objects or simple document[\"resource\"] field values."
          },
          "document": {
            "$ref": "#/components/schemas/document_params",
            "description": "Documents to be signed or notarized. Accepted as an array of document objects or simple document[\"resource\"] field values."
          },
          "jurisdiction_eligibility_consent": {
            "type": "string",
            "maxLength": 5000,
            "description": ""
          },
          "require_new_signer_verification": {
            "type": "boolean",
            "description": "When set to false, Proof will not require a new signer to verify their email address before moving into the transaction flow."
          },
          "skip_closing_ops": {
            "type": "boolean",
            "description": "Send to closing ops or not. Defaults to false."
          },
          "cc_recipient_emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cc_recipient_email"
            },
            "description": "An array of email addresses to CC on the transaction. They will receive notification when it is sent and completed and be able to view the completed documents."
          },
          "config_id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of the config used for this transaction. This will ensure that the transaction will load as expected in your dashboard if you need to make any edits. Once set this cannot be edited. Available values: [\"hybrid_purchase_buyer_loan\", \"hybrid_refinance\", \"hybrid_trailing_docs\", \"identify\", \"lender_heloc\", \"lender_loan_mod_borrower\", \"lender_refinance\", \"notarization\", \"other\", \"purchase_buyer\", \"purchase_buyer_loan\", \"purchase_seller\", \"real_estate_identify\", \"real_estate_sign\", \"real_estate_verify\", \"sign\", \"title_heloc\", \"title_loan_mod_borrower\", \"trailing_docs\", \"verify\"]"
          }
        },
        "example": {
          "transaction_type": "other",
          "signers": [
            {
              "email": "test@google.com",
              "first_name": "First",
              "last_name": "Last"
            },
            {
              "email": "test2@google.com",
              "first_name": "First",
              "last_name": "Last"
            }
          ],
          "require_secondary_photo_id": false,
          "file_number": "ABC1234",
          "loan_number": "DEF4567",
          "paper_note_consent": true,
          "expiration_time": "2030-12-08T13:28:08.119243Z",
          "recording_jurisdiction_id": "rlxna57nm",
          "street_address": {
            "line1": "4464 Sundance Circle",
            "city": "Hoffman Estates",
            "state": "IL",
            "postal": "60195",
            "country": "US"
          },
          "contacts": [
            {
              "first_name": "Bob",
              "last_name": "McTitleson",
              "email": "bob+03241901@proof.com",
              "role": "title_agent",
              "phone_number": "9909999999",
              "shown_to_signer": true,
              "access_to_transaction": true
            }
          ]
        }
      },
      "contact": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "First name of contact"
          },
          "last_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Last name of contact"
          },
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "Email"
          },
          "role": {
            "type": "string",
            "enum": [
              "closer",
              "escrow_officer",
              "loan_officer",
              "loan_processor",
              "mortgage_broker",
              "other",
              "real_estate_agent",
              "title_agent",
              "attorney"
            ],
            "description": "Accepted values: escrow_officer, loan_officer, real_estate_agent, title_agent, closer, other"
          },
          "title": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Only valid if role is set to \"other\"."
          },
          "phone_number": {
            "type": "string",
            "maxLength": 10,
            "nullable": true,
            "description": "10 characters exactly. Dashes and other special characters are not allowed. Please use format \"8885551111\""
          },
          "shown_to_signer": {
            "type": "boolean",
            "description": "If false, allows you to set a Proof-only contact."
          },
          "access_to_transaction": {
            "type": "boolean",
            "description": "Gives the signer contact access to a transaction."
          },
          "organization_name": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Use with contact role title_agent to invite a new Title Agent to collaborate on a Proof transaction. If provided for other roles, values will be disregarded."
          },
          "organization_address": {
            "$ref": "#/components/schemas/address",
            "description": "Use with contact role title_agent to invite a new Title Agent to collaborate on a Proof transaction. If provided for other roles, values will be disregarded."
          },
          "date_created": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String."
          },
          "date_updated": {
            "type": "string",
            "maxLength": 100,
            "description": "An ISO-8601 formatted DateTime String."
          }
        }
      },
      "signer": {
        "type": "object",
        "properties": {
          "signer_id": {
            "type": "string",
            "maxLength": 30,
            "description": "Signer ID"
          },
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "Email is required unless you provide a recipient_group object."
          },
          "first_name": {
            "type": "string",
            "maxLength": 30,
            "description": "First name"
          },
          "middle_name": {
            "type": "string",
            "maxLength": 30,
            "nullable": true,
            "description": "Middle name"
          },
          "last_name": {
            "type": "string",
            "maxLength": 30,
            "description": "Last name"
          },
          "phone_number": {
            "type": "string",
            "maxLength": 30,
            "description": "Signer phone number. A country code can be defined by using the `+` symbol. For example, `+11234567890` will set the country code to `+1` for the number `1234567890`. If no country code is specified the default will be the United States country code of `+1`."
          },
          "phone": {
            "type": "object",
            "properties": {
              "country_code": {
                "type": "string",
                "maxLength": 10,
                "description": "The country code for the phone number, e.g. 1"
              },
              "number": {
                "type": "string",
                "maxLength": 20,
                "description": "The phone number without the country code, e.g. 5551234567"
              }
            },
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/address",
            "description": "The most recent known address for the signer."
          },
          "dob": {
            "type": "string",
            "maxLength": 30,
            "description": "The signer's date of birth."
          },
          "capacity": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "The signers capacity when signing on behalf of an entity, required when entity is present"
          },
          "entity": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Entity the signer is signing on behalf of, required when capacity is present"
          },
          "external_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "A string representing an ID external to Proof's systems. Use this to associate a signer to an ID that your systems understand, such as a User ID."
          },
          "link_expired": {
            "type": "boolean",
            "description": "Indicates if the signer's passwordless link has expired."
          },
          "personally_known_to_notary": {
            "type": "boolean",
            "description": "If the signer is personally known to the notary. This can currently only be used on single signer transactions, or when the notary_id is specified on the signer."
          },
          "proof_requirement": {
            "$ref": "#/components/schemas/proof_requirement",
            "nullable": true,
            "description": "Add enhanced checks to validate a signer's identity to create a Proof transaction. Reach out to your customer success team to enable if not yet available."
          },
          "recipient_group": {
            "$ref": "#/components/schemas/recipient_group",
            "nullable": true,
            "description": "Use this to send to a group that will be able to claim the transaction. This would be used in place of email and name properties."
          },
          "sdk_token": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Equivalent to transaction_access_link; prefer using that instead."
          },
          "signatory_capacities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "capacity": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "attorney_in_fact",
                    "corporate_officer",
                    "guardian_or_conservator",
                    "general_partner",
                    "limited_partner",
                    "trustee",
                    "other"
                  ]
                },
                "representative_of": {
                  "type": "string"
                }
              }
            },
            "description": "An array of signatory capacities for the signer when signing on behalf of multiple entities."
          },
          "primary_id_allow_list_by_country": {
            "$ref": "#/components/schemas/id_allow_list_by_country"
          },
          "secondary_id_allow_list_by_country": {
            "$ref": "#/components/schemas/id_allow_list_by_country"
          },
          "signing_requirement": {
            "type": "string",
            "nullable": true,
            "enum": [
              "esign",
              "identify",
              "verify"
            ],
            "description": "Override the document signing requirement for an individual signer."
          },
          "signing_status": {
            "type": "string",
            "enum": [
              "incomplete",
              "in_progress",
              "complete"
            ],
            "nullable": true
          },
          "transaction_access_link": {
            "type": "string",
            "description": "A link to the transaction for this signer."
          },
          "vesting_type": {
            "type": "string",
            "enum": [
              "borrower",
              "non_borrower"
            ],
            "description": "Can be either `borrower` or `non_borrower`. Defaults to `borrower`."
          },
          "credential_assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/credential_asset_object"
            },
            "nullable": true
          },
          "esign_authentication_records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/photo_validation_attempt"
            },
            "nullable": true
          },
          "notary_id": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "User ID (\"us_xxxxxxx\") of the assigned Notary or \"notarize\". Eligible notaries must be a notary who is a member of your organization. Order must be utilized with this field, all notarization signers with the same order must have the same notary_id."
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "description": "Order the signers will sign in. Should be positive numbers starting with 1. Setting to the same order as another signer indicates they will sign at the same time."
          },
          "suppress_communications": {
            "type": "boolean",
            "nullable": true
          },
          "verify_tool_configuration": {
            "$ref": "#/components/schemas/verify_tool_configuration",
            "nullable": true
          }
        },
        "required": [
          "email"
        ]
      },
      "id_allow_list_by_country": {
        "type": "object",
        "nullable": true,
        "description": "A dictionary of id allow lists by country code, e.g. { \"US\": [ \"driver_license\", \"passport\" ], \"CA\": [\"passport\"] }, where the key is a 2 digit ISO-3166 country code, and the value is an array of id types. Primary ID lists must only contain government IDs ([\"driver_license\", \"passport\", \"id_card\", \"passport_card\", \"work_permit\", \"permanent_resident_card\"]). Secondary ID lists can contain government IDs or supplemental documents ([\"driver_license\", \"passport\", \"id_card\", \"passport_card\", \"work_permit\", \"permanent_resident_card\", \"social_security_card\", \"us_visa\", \"birth_certificate\", \"property_tax_bill\", \"voter_registration_card\", \"organizational_membership_card\", \"bank_investment_loan_statement\", \"paycheck_stub\", \"property_insurance\", \"utility_bill\", \"other\", \"lease\", \"mortgage\", \"deed_of_trust\", \"vehicle_registration\", \"i_94\", \"matricula_consular\", \"nexus_card\", \"school_id_card\"]). By default, validation is only run on the primary ID. Validation can be run on the secondary ID (if it is a government ID) by changing your organization's configuration. To use Proof's default ID options, use null, or do not pass this field."
      },
      "signers": {
        "type": "object",
        "properties": {
          "signer_id": {
            "type": "string",
            "maxLength": 30,
            "description": "Signer ID"
          },
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "Email is required unless you provide a recipient_group object."
          },
          "first_name": {
            "type": "string",
            "maxLength": 30,
            "description": "First name"
          },
          "middle_name": {
            "type": "string",
            "maxLength": 30,
            "nullable": true,
            "description": "Middle name"
          },
          "last_name": {
            "type": "string",
            "maxLength": 30,
            "description": "Last name"
          },
          "phone_number": {
            "type": "string",
            "maxLength": 30,
            "description": "Signer phone number. A country code can be defined by using the `+` symbol. For example, `+11234567890` will set the country code to `+1` for the number `1234567890`. If no country code is specified the default will be the United States country code of `+1`."
          },
          "phone": {
            "type": "object",
            "properties": {
              "country_code": {
                "type": "string",
                "maxLength": 10,
                "description": "The country code for the phone number, e.g. 1"
              },
              "number": {
                "type": "string",
                "maxLength": 20,
                "description": "The phone number without the country code, e.g. 5551234567"
              }
            },
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/address",
            "description": "The most recent known address for the signer."
          },
          "dob": {
            "type": "string",
            "maxLength": 30,
            "description": "The signer's date of birth."
          },
          "capacity": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "The signers capacity when signing on behalf of an entity, required when entity is present"
          },
          "entity": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Entity the signer is signing on behalf of, required when capacity is present"
          },
          "external_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "A string representing an ID external to Proof's systems. Use this to associate a signer to an ID that your systems understand, such as a User ID."
          },
          "link_expired": {
            "type": "boolean",
            "description": "Indicates if the signer's passwordless link has expired."
          },
          "personally_known_to_notary": {
            "type": "boolean",
            "description": "If the signer is personally known to the notary. This can currently only be used on single signer transactions, or when the notary_id is specified on the signer."
          },
          "proof_requirement": {
            "$ref": "#/components/schemas/proof_requirement",
            "nullable": true,
            "description": "Add enhanced checks to validate a signer's identity to create a Proof transaction. Reach out to your customer success team to enable if not yet available."
          },
          "recipient_group": {
            "$ref": "#/components/schemas/recipient_group",
            "nullable": true,
            "description": "Use this to send to a group that will be able to claim the transaction. This would be used in place of email and name properties."
          },
          "sdk_token": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Equivalent to transaction_access_link; prefer using that instead."
          },
          "signatory_capacities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "capacity": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "attorney_in_fact",
                    "corporate_officer",
                    "guardian_or_conservator",
                    "general_partner",
                    "limited_partner",
                    "trustee",
                    "other"
                  ]
                },
                "representative_of": {
                  "type": "string"
                }
              }
            },
            "description": "An array of signatory capacities for the signer when signing on behalf of multiple entities."
          },
          "primary_id_allow_list_by_country": {
            "$ref": "#/components/schemas/id_allow_list_by_country"
          },
          "secondary_id_allow_list_by_country": {
            "$ref": "#/components/schemas/id_allow_list_by_country"
          },
          "signing_requirement": {
            "type": "string",
            "nullable": true,
            "enum": [
              "esign",
              "identify",
              "verify"
            ],
            "description": "Override the document signing requirement for an individual signer."
          },
          "signing_status": {
            "type": "string",
            "enum": [
              "incomplete",
              "in_progress",
              "complete"
            ],
            "nullable": true
          },
          "transaction_access_link": {
            "type": "string",
            "description": "A link to the transaction for this signer."
          },
          "vesting_type": {
            "type": "string",
            "enum": [
              "borrower",
              "non_borrower"
            ],
            "description": "Can be either `borrower` or `non_borrower`. Defaults to `borrower`."
          },
          "credential_assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/credential_asset_object"
            },
            "nullable": true
          },
          "esign_authentication_records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/photo_validation_attempt"
            },
            "nullable": true
          },
          "order": {
            "type": "integer",
            "nullable": true,
            "description": "Order the signers will sign in. Should be positive numbers starting with 1. Setting to the same order as another signer indicates they will sign at the same time."
          },
          "notary_id": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "User ID (\"us_xxxxxxx\") of the assigned Notary or \"notarize\". Eligible notaries must be a notary who is a member of your organization. Order must be utilized with this field, all notarization signers with the same order must have the same notary_id."
          },
          "suppress_communications": {
            "type": "boolean",
            "nullable": true
          },
          "verify_tool_configuration": {
            "$ref": "#/components/schemas/verify_tool_configuration",
            "nullable": true
          }
        }
      },
      "cosigner": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "maxLength": 30,
            "description": "First name"
          },
          "last_name": {
            "type": "string",
            "maxLength": 30,
            "description": "Last name"
          },
          "signing_requirement": {
            "type": "string",
            "nullable": true,
            "enum": [
              "esign",
              "identify",
              "verify"
            ],
            "description": "Override the document signing requirement for an individual signer."
          }
        }
      },
      "address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "maxLength": 5000,
            "description": "House number and Street name"
          },
          "line2": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unit number"
          },
          "city": {
            "type": "string",
            "maxLength": 5000,
            "description": "Town name"
          },
          "state": {
            "type": "string",
            "maxLength": 2,
            "description": "Only two character state abbreviations are accepted. i.e. \"CO\"."
          },
          "postal": {
            "type": "string",
            "maxLength": 10,
            "description": "Five or ten digit postal code."
          },
          "country": {
            "type": "string",
            "maxLength": 2,
            "description": "Only two character country codes are accepted. i.e. \"US\"."
          }
        }
      },
      "street_address": {
        "type": "object",
        "properties": {
          "full_address": {
            "type": "string",
            "maxLength": 5000,
            "description": "The full address written as a single line."
          },
          "line1": {
            "type": "string",
            "maxLength": 5000,
            "description": "House number and Street name"
          },
          "line2": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Unit number"
          },
          "city": {
            "type": "string",
            "maxLength": 5000,
            "description": "Town name"
          },
          "state": {
            "type": "string",
            "maxLength": 2,
            "description": "Only two character state abbreviations are accepted. i.e. \"CO\"."
          },
          "postal": {
            "type": "string",
            "maxLength": 10,
            "description": "Five or ten digit postal code."
          },
          "country": {
            "type": "string",
            "maxLength": 2,
            "description": "Only two character country codes are accepted. i.e. \"US\"."
          }
        }
      },
      "cc_recipient_email": {
        "type": "string",
        "maxLength": 5000,
        "description": "Email address of the recipient to be CC'd on the transaction."
      },
      "credential_image": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "maxLength": 5000,
            "description": "URL of the image"
          },
          "descriptor": {
            "type": "string",
            "enum": [
              "back",
              "front"
            ]
          }
        }
      },
      "credential_asset_object": {
        "type": "object",
        "properties": {
          "credential_type": {
            "type": "string",
            "enum": [
              "primary",
              "secondary",
              "selfie"
            ]
          },
          "credential_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/credential_image"
            }
          }
        }
      },
      "witness": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "maxLength": 100
          },
          "middle_name": {
            "type": "string",
            "maxLength": 100
          },
          "last_name": {
            "type": "string",
            "maxLength": 100
          },
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "credential_assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/credential_asset_object"
            }
          }
        }
      },
      "notarization_record_object": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000
          },
          "meeting_start": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time"
          },
          "meeting_end": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time"
          },
          "notary_name": {
            "type": "string",
            "maxLength": 5000
          },
          "notary_county_city": {
            "type": "string",
            "maxLength": 5000
          },
          "notary_registration": {
            "type": "string",
            "maxLength": 5000
          },
          "notary_source": {
            "type": "string",
            "enum": [
              "In-house notary",
              "Custom Panel",
              "Notarize Network"
            ],
            "description": "Indicates how the notary who fulfilled this session was sourced: In-house notary, Custom Panel, or Notarize Network. Reflects actual session fulfillment, not original routing."
          },
          "signer_info": {
            "$ref": "#/components/schemas/signer"
          },
          "signers": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/signer"
                },
                {
                  "$ref": "#/components/schemas/photo_identification"
                }
              ]
            }
          },
          "cosigner_info": {
            "$ref": "#/components/schemas/signer",
            "nullable": true
          },
          "witnesses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/witness"
            }
          },
          "notarized_documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/document"
            }
          },
          "verification_credentials": {
            "type": "object",
            "properties": {
              "retrieval_id": {
                "type": "string",
                "maxLength": 5000
              },
              "retrieval_pin": {
                "type": "string",
                "maxLength": 5000
              },
              "last_name": {
                "type": "string",
                "maxLength": 5000,
                "nullable": true
              },
              "date_completed": {
                "type": "string",
                "maxLength": 100
              }
            }
          },
          "signer_photo_identification": {
            "$ref": "#/components/schemas/photo_identification"
          },
          "video_url": {
            "type": "string",
            "maxLength": 5000,
            "description": "Download URL of the video recording of the meeting."
          },
          "chat_url": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Download URL of the chat transcript of the meeting."
          }
        }
      },
      "notary_instructions": {
        "type": "object",
        "properties": {
          "notary_note": {
            "type": "string",
            "maxLength": 500,
            "description": "500 character limit."
          }
        }
      },
      "notary_params": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "Unique email address for the new notary account"
          },
          "us_state_abbr": {
            "type": "string",
            "maxLength": 2,
            "description": "Two-letter abbreviation for the state in which the notary is commissioned."
          },
          "first_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "First name of the notary. Must match their notary commission."
          },
          "middle_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Middle name of the notary. Must match their notary commission."
          },
          "last_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Last name of the notary. Must match their notary commission."
          }
        },
        "required": [
          "email",
          "us_state_abbr",
          "first_name",
          "last_name"
        ],
        "example": {
          "email": "test@proof.com",
          "us_state_abbr": "va",
          "first_name": "Joe",
          "middle_name": "L",
          "last_name": "Smith"
        }
      },
      "notary_statuses": {
        "type": "string",
        "enum": [
          "compliant",
          "needs_review",
          "not_compliant"
        ]
      },
      "notary_status_descriptions": {
        "type": "string",
        "enum": [
          "Notary is clear to take meetings.",
          "Notary awaiting Proof approval of documentation.",
          "Notary is missing required documentation.",
          "Notary status is pending."
        ]
      },
      "notary_object": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000,
            "description": "The ID of notary."
          },
          "first_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "First name of the notary."
          },
          "middle_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Middle name of the notary."
          },
          "last_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Last name of the notary."
          },
          "email": {
            "type": "string",
            "maxLength": 5000,
            "description": "Email address for the notary."
          },
          "us_state_abbr": {
            "type": "string",
            "maxLength": 2,
            "description": "The two letter abbreviation of the state where this notary is registered."
          },
          "status": {
            "$ref": "#/components/schemas/notary_statuses"
          },
          "status_description": {
            "$ref": "#/components/schemas/notary_status_descriptions"
          }
        }
      },
      "notary_objects": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/notary_object"
        }
      },
      "photo_identification": {
        "type": "object",
        "properties": {
          "primary_front": {
            "type": "string",
            "maxLength": 5000,
            "description": "URL of the front of the primary photo identification document."
          },
          "primary_back": {
            "type": "string",
            "maxLength": 5000,
            "description": "URL of the back of the primary photo identification document."
          },
          "primary_type": {
            "type": "string",
            "maxLength": 5000,
            "description": "Type of the primary photo identification document."
          },
          "primary_issuer": {
            "type": "string",
            "maxLength": 5000,
            "description": "Issuer of the primary photo identification document."
          },
          "primary_expiry_date": {
            "type": "string",
            "maxLength": 5000,
            "description": "Expiry date of the primary photo identification document."
          },
          "secondary_front": {
            "type": "string",
            "maxLength": 5000,
            "description": "URL of the front of the secondary photo identification document."
          }
        }
      },
      "verify_tool_configuration": {
        "type": "object",
        "properties": {
          "requirement": {
            "type": "string",
            "enum": [
              "run",
              "pass",
              "none"
            ],
            "description": "Setting indicating whether or not the verify tool will be required to run or pass, or both"
          }
        },
        "required": [
          "requirement"
        ]
      },
      "proof_requirement": {
        "type": "object",
        "properties": {
          "id_verification": {
            "$ref": "#/components/schemas/proof_requirement_id_verification"
          },
          "knowledge_based_authentication": {
            "type": "boolean",
            "description": "(KBA) Signer answers a series of personal identity questions."
          },
          "multi_factor_authentication": {
            "$ref": "#/components/schemas/proof_requirement_multi_factor_authentication"
          }
        },
        "required": [
          "knowledge_based_authentication"
        ]
      },
      "proof_requirement_id_verification": {
        "type": "object",
        "properties": {
          "selfie": {
            "type": "boolean",
            "description": "Signer identity is verified through credential analysis and selfie comparison. SMS multi_factor_authentication is required with this for IAL2 compliant identity verification."
          }
        },
        "required": [
          "selfie"
        ]
      },
      "proof_requirement_multi_factor_authentication": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "sms"
            ],
            "description": "Signer enters authentication code sent to their mobile phone."
          }
        },
        "required": [
          "type"
        ]
      },
      "recipient_group": {
        "type": "object",
        "properties": {
          "shared_inbox_email": {
            "type": "string",
            "maxLength": 5000,
            "description": "The email address that is shared by a group.  Whomever has access to this email address can claim the transaction for themself."
          }
        }
      },
      "attachment": {
        "type": "object",
        "properties": {
          "date_created": {
            "type": "string",
            "maxLength": 100,
            "description": "Date Attachment was created/uploaded."
          },
          "name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Name of the attachment"
          },
          "url": {
            "type": "string",
            "maxLength": 5000,
            "description": "URL of the attachment"
          }
        }
      },
      "document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000
          },
          "allowed_actions": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 5000
            },
            "description": "List of allowed actions on document."
          },
          "bundle_position": {
            "type": "integer",
            "description": "Position to put document in bundle"
          },
          "completion_state": {
            "type": "string",
            "maxLength": 5000
          },
          "data": {
            "type": "string",
            "nullable": true,
            "description": "base64 encoded document. Present if base64 encoding was specified in request. Currently supported for get_document only."
          },
          "date_created": {
            "type": "string",
            "maxLength": 5000,
            "description": "Date document was created/uploaded."
          },
          "date_updated": {
            "type": "string",
            "maxLength": 5000,
            "description": "Date document was last updated."
          },
          "document_name": {
            "type": "string",
            "maxLength": 5000,
            "description": "Name of document."
          },
          "esign_required": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the document requires esigning."
          },
          "final_document_url": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "identity_confirmation_required": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the document requires identity confirmation."
          },
          "is_enote": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the document is an eNote."
          },
          "notarization_required": {
            "type": "boolean",
            "description": "Boolean flag indicating whether the document requires notarization. If `true`, identity_confirmation_required must be `false`. If `false`, the document may still be e-signed in the notary meeting. At least one document in a transaction must require notarization or identity confirmation."
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 5000
            }
          },
          "processing_error": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Error message if document processing failed."
          },
          "processing_state": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "State of document processing."
          },
          "rejection_anecdote": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Anecdote for document rejection."
          },
          "rejection_reason": {
            "type": "string",
            "nullable": true,
            "description": "Reason for document rejection."
          },
          "requirement": {
            "type": "string",
            "maxLength": 5000,
            "description": "Completion requirement for the document. Accepted values can be `notarization`, `esign`, `identity_confirmation` **([identity confirmation feature](doc:enterprise-features))**, `readonly`, and `non_essential`. Completion requirement for the document.  If the value is set to `non_essential`, the document will be hidden from signers before the notary meeting and values for  `customer_can_annotate` and `witness_required` will be ignored and set to false. `identity_confirmation` is used to support signing of PS Form 1583 for signers without a US SSN. Note: if `identity_confirmation` is set as the document requirement, ensure that all documents requiring notarization in the transaction also use `identity confirmation` as the requirement to avoid requiring KBA on the transaction. [Read more](doc:document-requirements) about document requirements."
          },
          "signed_url": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "Signed URL for the final document PDF."
          },
          "signing_designation_groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/signing_designation_group"
            },
            "description": "This array contains a prescribed list of groups of designations for signers and/or a notary to annotate the document."
          },
          "signing_designations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/signing_designation"
            },
            "description": "This array contains a prescribed list of designations for signers and/or a notary to annotate the document."
          },
          "signing_type": {
            "type": "string",
            "maxLength": 5000
          },
          "tracking_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true,
            "description": "The external tracking ID of the document."
          }
        }
      },
      "transaction_object": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 5000
          },
          "activation_time": {
            "type": "string",
            "maxLength": 100,
            "nullable": true,
            "description": "An ISO-8601 formatted DateTime String."
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/attachment"
            }
          },
          "audit_trail_url": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "cc_recipient_emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/cc_recipient_email"
            }
          },
          "charge_statement_url": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "config_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/contact"
            }
          },
          "cosigner_info": {
            "$ref": "#/components/schemas/signer",
            "nullable": true
          },
          "cost": {
            "type": "number",
            "format": "float",
            "description": "Cost of the transaction."
          },
          "date_created": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time",
            "description": "Date Transaction was created/uploaded."
          },
          "date_updated": {
            "type": "string",
            "maxLength": 100,
            "format": "date-time",
            "description": "Date Transaction was updated."
          },
          "detailed_status": {
            "type": "string",
            "enum": [
              "draft",
              "recalled",
              "order_placed",
              "sent_to_title_agent",
              "sent_to_signer",
              "active",
              "viewed",
              "started",
              "partially_complete",
              "attempted",
              "awaiting_payment",
              "open_order",
              "review_now",
              "sign_now",
              "payment_required",
              "meeting_in_progress",
              "complete",
              "complete_with_rejections",
              "expired",
              "esign_complete",
              "wet_sign_complete",
              "on_hold",
              "converted_to_wet_sign",
              "identify_complete_idv_passed",
              "identify_complete_idv_failed",
              "ready_for_review",
              "add_document",
              "processing",
              "held_for_review",
              "declined"
            ]
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/document"
            }
          },
          "eo_transaction_id": {
            "type": "string",
            "maxLength": 5000,
            "nullable": true
          },
          "expiration_time": {
            "type": "string",
            "maxLength": 100,
[...]
