{
  "openapi": "3.0.3",
  "info": {
    "title": "proof-scim-api-specification",
    "version": "2-Production"
  },
  "servers": [
    {
      "url": "https://api.proof.com/scim/v1/organizations"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "ApiKey",
        "x-default": "<YOUR-API-KEY>"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/{organization_id}/Users": {
      "post": {
        "summary": "Create User",
        "description": "",
        "operationId": "create-user",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/scim+json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "Email address as username."
                  },
                  "name": {
                    "type": "object",
                    "description": "The full name of the user, represented by a `name` object",
                    "properties": {
                      "givenName": {
                        "type": "string",
                        "description": "The first name of the user"
                      },
                      "familyName": {
                        "type": "string",
                        "description": "The last name of the user"
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "List of user emails, only primary supported and only a predefined allow list of domains are accepted.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "roles": {
                    "type": "array",
                    "description": "List of user roles, only primary supported. One of \u201cowner\u201d, \u201cadmin\u201d or \u201cemployee\u201d.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "description": "This identifier is generated by the SAML provider, and is used as a unique ID by the SAML provider to match against a Notarize user."
                  },
                  "active": {
                    "type": "string",
                    "description": "Used to indicate whether the identity is active (true) or deprovisioned (false)."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "userName": "john.doe@notarize.com",
                    "name": {
                      "givenName": "John",
                      "familyName": "Doe"
                    },
                    "emails": [
                      {
                        "value": "john.doe@notarize.com",
                        "primary": true
                      }
                    ],
                    "externalId": "a7d0f98382",
                    "roles": [
                      {
                        "value": "admin",
                        "primary": true
                      }
                    ],
                    "active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:schemas:core:2.0:User\"\n  ],\n  \"id\": \"us1234567\",\n  \"externalId\": \"a7d0f98382\",\n  \"userName\": \"john.doe@notarize.com\",\n  \"name\": {\n    \"givenName\": \"John\",\n    \"familyName\": \"Doe\"\n  },\n  \"emails\": [\n    {\n      \"value\": \"john.doe@notarize.com\",\n      \"primary\": true\n    }\n  ],\n  \"roles\": [\n    {\n      \"value\": \"owner\",\n      \"primary\": true,\n      \"display\": \"Owner\"\n    }\n  ],\n  \"active\": true,\n  \"meta\": {\n    \"resourceType\": \"User\",\n    \"created\": \"2022-12-15T15:03:34Z\",\n    \"lastModified\": \"2022-12-16T15:03:34Z\",\n    \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567\"\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "us1234567"
                    },
                    "externalId": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "userName": {
                      "type": "string",
                      "example": "john.doe@notarize.com"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "givenName": {
                          "type": "string",
                          "example": "John"
                        },
                        "familyName": {
                          "type": "string",
                          "example": "Doe"
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "john.doe@notarize.com"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "owner"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "display": {
                            "type": "string",
                            "example": "Owner"
                          }
                        }
                      }
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "resourceType": {
                          "type": "string",
                          "example": "User"
                        },
                        "created": {
                          "type": "string",
                          "example": "2022-12-15T15:03:34Z"
                        },
                        "lastModified": {
                          "type": "string",
                          "example": "2022-12-16T15:03:34Z"
                        },
                        "location": {
                          "type": "string",
                          "example": "https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"errors\": [\n       \"userName is required.\"\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "userName is required."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "List Users",
        "description": "",
        "operationId": "list-users",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "startIndex",
            "in": "query",
            "description": "The 1-based index of the first result in the current set of list results",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Non-negative integer. Specifies the desired maximum number of query results per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Filter by userName. e.g. userName eq \"example@example.com\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:api:messages:2.0:ListResponse\"\n  ],\n  \"totalResults\": 2,\n  \"startIndex\": 1,\n  \"itemsPerPage\": 2,\n  \"Resources\": [\n    {\n      \"schemas\": [\n        \"urn:ietf:params:scim:schemas:core:2.0:User\"\n      ],\n      \"id\": \"uszd79adr\",\n      \"externalId\": null,\n      \"userName\": \"7b5676d32f.runte.dannielle@yahoo.com\",\n      \"name\": {\n        \"givenName\": \"Dannielle\",\n        \"familyName\": \"Runte\"\n      },\n      \"emails\": [\n        {\n          \"value\": \"7b5676d32f.runte.dannielle@yahoo.com\",\n          \"primary\": true\n        }\n      ],\n      \"roles\": [\n        {\n          \"value\": \"owner\",\n          \"primary\": true,\n          \"display\": \"Owner\"\n        }\n      ],\n      \"active\": true,\n      \"meta\": {\n        \"resourceType\": \"User\",\n        \"created\": \"2023-03-14T14:25:28Z\",\n        \"lastModified\": \"2023-03-14T14:25:28Z\",\n        \"location\": \"https://api.local.dev-notarize.com/scim/v1/organizations/orod4zxdk/Users/uszd79adr\"\n      }\n    },\n    {\n      \"schemas\": [\n        \"urn:ietf:params:scim:schemas:core:2.0:User\"\n      ],\n      \"id\": \"usgnk53nj\",\n      \"externalId\": null,\n      \"userName\": \"93a95a1bfd.runte.dannielle@gmail.com\",\n      \"name\": {\n        \"givenName\": \"Dannielle\",\n        \"familyName\": \"Runte\"\n      },\n      \"emails\": [\n        {\n          \"value\": \"93a95a1bfd.runte.dannielle@gmail.com\",\n          \"primary\": true\n        }\n      ],\n      \"roles\": [\n        {\n          \"value\": \"employee\",\n          \"primary\": true,\n          \"display\": \"Employee\"\n        }\n      ],\n      \"active\": true,\n      \"meta\": {\n        \"resourceType\": \"User\",\n        \"created\": \"2023-03-14T14:25:28Z\",\n        \"lastModified\": \"2023-03-14T14:25:28Z\",\n        \"location\": \"https://api.local.dev-notarize.com/scim/v1/organizations/orod4zxdk/Users/usgnk53nj\"\n      }\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                      }
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "itemsPerPage": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "Resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "schemas": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                            }
                          },
                          "id": {
                            "type": "string",
                            "example": "uszd79adr"
                          },
                          "externalId": {},
                          "userName": {
                            "type": "string",
                            "example": "7b5676d32f.runte.dannielle@yahoo.com"
                          },
                          "name": {
                            "type": "object",
                            "properties": {
                              "givenName": {
                                "type": "string",
                                "example": "Dannielle"
                              },
                              "familyName": {
                                "type": "string",
                                "example": "Runte"
                              }
                            }
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "7b5676d32f.runte.dannielle@yahoo.com"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                }
                              }
                            }
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "example": "owner"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "display": {
                                  "type": "string",
                                  "example": "Owner"
                                }
                              }
                            }
                          },
                          "active": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "resourceType": {
                                "type": "string",
                                "example": "User"
                              },
                              "created": {
                                "type": "string",
                                "example": "2023-03-14T14:25:28Z"
                              },
                              "lastModified": {
                                "type": "string",
                                "example": "2023-03-14T14:25:28Z"
                              },
                              "location": {
                                "type": "string",
                                "example": "https://api.local.dev-notarize.com/scim/v1/organizations/orod4zxdk/Users/uszd79adr"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{organization_id}/Users/{user_id}": {
      "get": {
        "summary": "Retrieve User",
        "description": "",
        "operationId": "get-user",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/scim+json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:schemas:core:2.0:User\"\n  ],\n  \"id\": \"us1234567\",\n  \"externalId\": \"a7d0f98382\",\n  \"userName\": \"john.doe@notarize.com\",\n  \"name\": {\n    \"givenName\": \"John\",\n    \"familyName\": \"Doe\"\n  },\n  \"emails\": [\n    {\n      \"value\": \"john.doe@notarize.com\",\n      \"primary\": true\n    }\n  ],\n  \"roles\": [\n    {\n      \"value\": \"owner\",\n      \"primary\": true,\n      \"display\": \"Owner\"\n    }\n  ],\n  \"active\": true,\n  \"meta\": {\n    \"resourceType\": \"User\",\n    \"created\": \"2022-12-15T15:03:34Z\",\n    \"lastModified\": \"2022-12-16T15:03:34Z\",\n    \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567\"\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "us1234567"
                    },
                    "externalId": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "userName": {
                      "type": "string",
                      "example": "john.doe@notarize.com"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "givenName": {
                          "type": "string",
                          "example": "John"
                        },
                        "familyName": {
                          "type": "string",
                          "example": "Doe"
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "john.doe@notarize.com"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "owner"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "display": {
                            "type": "string",
                            "example": "Owner"
                          }
                        }
                      }
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "resourceType": {
                          "type": "string",
                          "example": "User"
                        },
                        "created": {
                          "type": "string",
                          "example": "2022-12-15T15:03:34Z"
                        },
                        "lastModified": {
                          "type": "string",
                          "example": "2022-12-16T15:03:34Z"
                        },
                        "location": {
                          "type": "string",
                          "example": "https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Replace User",
        "description": "",
        "operationId": "update-user",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/scim+json"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userName"
                ],
                "properties": {
                  "userName": {
                    "type": "string",
                    "description": "Email address as username."
                  },
                  "name": {
                    "type": "object",
                    "description": "The full name of the user, represented by a `name` object",
                    "properties": {
                      "givenName": {
                        "type": "string",
                        "description": "The first name of the user"
                      },
                      "familyName": {
                        "type": "string",
                        "description": "The last name of the user"
                      }
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "List of user emails, only primary supported and only a predefined allow list of domains are accepted.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "roles": {
                    "type": "array",
                    "description": "List of user roles, only primary supported. One of \u201cowner\u201d, \u201cadmin\u201d or \u201cemployee\u201d.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "description": "This identifier is generated by the SAML provider, and is used as a unique ID by the SAML provider to match against a Notarize user."
                  },
                  "active": {
                    "type": "string",
                    "description": "Used to indicate whether the identity is active (true) or deprovisioned (false)."
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "userName": "john.doe@notarize.com",
                    "name": {
                      "givenName": "John",
                      "familyName": "Doe"
                    },
                    "emails": [
                      {
                        "value": "john.doe@notarize.com",
                        "primary": true
                      }
                    ],
                    "externalId": "a7d0f98382",
                    "roles": [
                      {
                        "value": "admin",
                        "primary": true
                      }
                    ],
                    "active": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:schemas:core:2.0:User\"\n  ],\n  \"id\": \"a7d0f98382\",\n  \"userName\": \"john.doe@notarize.com\",\n  \"externalId\": \"a7d0f98382\",\n  \"name\": {\n    \"givenName\": \"John\",\n    \"familyName\": \"Doe\"\n  },\n  \"emails\": [\n    {\n      \"value\": \"john.doe@notarize.com\",\n      \"primary\": true\n    }\n  ],\n  \"roles\": [\n    {\n      \"value\": \"admin\",\n      \"primary\": true,\n      \"display\": \"Admin\"\n    }\n  ],\n  \"active\": true,\n  \"meta\": {\n    \"resourceType\": \"User\",\n    \"created\": \"2022-12-15T15:03:34Z\",\n    \"lastModified\": \"2022-12-16T15:03:34Z\",\n    \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567\"\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "userName": {
                      "type": "string",
                      "example": "john.doe@notarize.com"
                    },
                    "externalId": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "givenName": {
                          "type": "string",
                          "example": "John"
                        },
                        "familyName": {
                          "type": "string",
                          "example": "Doe"
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "john.doe@notarize.com"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "admin"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "display": {
                            "type": "string",
                            "example": "Admin"
                          }
                        }
                      }
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "resourceType": {
                          "type": "string",
                          "example": "User"
                        },
                        "created": {
                          "type": "string",
                          "example": "2022-12-15T15:03:34Z"
                        },
                        "lastModified": {
                          "type": "string",
                          "example": "2022-12-16T15:03:34Z"
                        },
                        "location": {
                          "type": "string",
                          "example": "https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n   \"errors\": [\n       \"userName is required.\"\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "userName is required."
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update User",
        "description": "",
        "operationId": "patch-user",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/scim+json"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Operations"
                ],
                "properties": {
                  "Operations": {
                    "type": "object",
                    "description": "Set of operations to be performed",
                    "required": [
                      "op"
                    ],
                    "properties": {
                      "op": {
                        "type": "string",
                        "description": "Can be one of: add, remove, replace"
                      },
                      "path": {
                        "type": "string",
                        "description": "Path to value in resource. Top level values (\"name\") and child values (\"name.givenName\") supported."
                      },
                      "value": {
                        "type": "string",
                        "description": "Can be an object, array, or string. Value may be dependent on \"path\""
                      }
                    }
                  }
                }
              },
              "examples": {
                "Add/Replace email with no path": {
                  "value": {
                    "Operations": [
                      {
                        "op": "add",
                        "value": {
                          "emails": [
                            {
                              "value": "test@notarize.com"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "Add attributes to complex attribute path": {
                  "value": {
                    "Operations": [
                      {
                        "op": "add",
                        "path": "name",
                        "value": {
                          "givenName": "Jane",
                          "familyName": "Doe"
                        }
                      }
                    ]
                  }
                },
                "Add attribute to multi-valued attribute path": {
                  "value": {
                    "Operations": [
                      {
                        "op": "replace",
                        "path": "emails",
                        "value": [
                          {
                            "value": "test@notarize.com"
                          }
                        ]
                      }
                    ]
                  }
                },
                "Add single string attribute to single value target": {
                  "value": {
                    "Operations": [
                      {
                        "op": "replace",
                        "path": "externalId",
                        "value": "test-id-123"
                      },
                      {
                        "op": "add",
                        "path": "active",
                        "value": false
                      }
                    ]
                  }
                },
                "Remove single value attribute": {
                  "value": {
                    "Operations": [
                      {
                        "op": "remove",
                        "path": "externalId"
                      }
                    ]
                  }
                },
                "Remove child attribute": {
                  "value": {
                    "Operations": [
                      {
                        "op": "remove",
                        "path": "name.givenName"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"schemas\": [\n    \"urn:ietf:params:scim:schemas:core:2.0:User\"\n  ],\n  \"id\": \"a7d0f98382\",\n  \"userName\": \"test@notarize.com\",\n  \"externalId\": \"a7d0f98382\",\n  \"name\": {\n    \"givenName\": \"John\",\n    \"familyName\": \"Doe\"\n  },\n  \"emails\": [\n    {\n      \"value\": \"test@notarize.com\",\n      \"primary\": true\n    }\n  ],\n  \"roles\": [\n    {\n      \"value\": \"admin\",\n      \"primary\": true,\n      \"display\": \"Admin\"\n    }\n  ],\n  \"active\": true,\n  \"meta\": {\n    \"resourceType\": \"User\",\n    \"created\": \"2022-12-15T15:03:34Z\",\n    \"lastModified\": \"2022-12-16T15:03:34Z\",\n    \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567\"\n  }\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "userName": {
                      "type": "string",
                      "example": "test@notarize.com"
                    },
                    "externalId": {
                      "type": "string",
                      "example": "a7d0f98382"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "givenName": {
                          "type": "string",
                          "example": "John"
                        },
                        "familyName": {
                          "type": "string",
                          "example": "Doe"
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "test@notarize.com"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "example": "admin"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "display": {
                            "type": "string",
                            "example": "Admin"
                          }
                        }
                      }
                    },
                    "active": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "resourceType": {
                          "type": "string",
                          "example": "User"
                        },
                        "created": {
                          "type": "string",
                          "example": "2022-12-15T15:03:34Z"
                        },
                        "lastModified": {
                          "type": "string",
                          "example": "2022-12-16T15:03:34Z"
                        },
                        "location": {
                          "type": "string",
                          "example": "https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"No path specified for remove op\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "No path specified for remove op"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete User",
        "description": "",
        "operationId": "delete-user",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "accept",
            "in": "header",
            "schema": {
              "type": "string",
              "default": "application/scim+json"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Can not delete only owner in organization\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Can not delete only owner in organization"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{organization_id}/Schemas/Users": {
      "get": {
        "summary": "Retrieve Users Schema",
        "description": "",
        "operationId": "retrieve-users-schema",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"title\": \"SCIM /Users\",\n  \"description\": \"SCIM /Users provisioning endpoints\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"schemas\": {\n      \"description\": \"SCIM schema used.\",\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\": {\n        \"type\": \"string\",\n        \"examples\": [\n          \"urn:ietf:params:scim:schemas:core:2.0:User\"\n        ]\n      }\n    },\n    \"id\": {\n      \"description\": \"Unique identifier of an external identity\",\n      \"type\": \"string\",\n      \"examples\": [\n        \"us1234567\"\n      ]\n    },\n    \"externalId\": {\n      \"description\": \"The ID of the User.\",\n      \"type\": [\n        \"string\",\n        \"null\"\n      ],\n      \"examples\": [\n        \"011d20ef-8563-42de-b367-09f3db13ca4a\"\n      ]\n    },\n    \"userName\": {\n      \"description\": \"Configured by the admin. Primary email address only.\",\n      \"type\": [\n        \"string\",\n        \"null\"\n      ],\n      \"examples\": [\n        \"pkinsel@notarize.com\"\n      ]\n    },\n    \"displayName\": {\n      \"description\": \"The name of the user, suitable for display to end-users\",\n      \"type\": [\n        \"string\",\n        \"null\"\n      ],\n      \"examples\": [\n        \"Pat Kinsel\"\n      ]\n    },\n    \"name\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"givenName\": {\n          \"type\": [\n            \"string\",\n            \"null\"\n          ]\n        },\n        \"familyName\": {\n          \"type\": [\n            \"string\",\n            \"null\"\n          ]\n        }\n      },\n      \"example\": {\n        \"givenName\": \"Pat\",\n        \"familyName\": \"Kinsel\"\n      }\n    },\n    \"emails\": {\n      \"description\": \"user emails\",\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"value\": {\n            \"type\": \"string\"\n          },\n          \"primary\": {\n            \"type\": \"boolean\"\n          },\n          \"type\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"value\"\n        ]\n      },\n      \"examples\": [\n        {\n          \"value\": \"pkinsel@notarize.com\",\n          \"primary\": true\n        }\n      ]\n    },\n    \"active\": {\n      \"description\": \"The active status of the User.\",\n      \"type\": \"boolean\",\n      \"examples\": [\n        true\n      ]\n    },\n    \"meta\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"resourceType\": {\n          \"type\": \"string\",\n          \"examples\": [\n            \"User\"\n          ]\n        },\n        \"created\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\",\n          \"examples\": [\n            \"2019-01-24T22:45:36.000Z\"\n          ]\n        },\n        \"lastModified\": {\n          \"type\": \"string\",\n          \"format\": \"date-time\",\n          \"examples\": [\n            \"2019-01-24T22:45:36.000Z\"\n          ]\n        },\n        \"location\": {\n          \"type\": \"string\",\n          \"format\": \"uri\",\n          \"examples\": [\n            \"https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567\"\n          ]\n        }\n      }\n    },\n    \"operations\": {\n      \"description\": \"Set of operations to be performed\",\n      \"type\": \"array\",\n      \"minItems\": 1,\n      \"items\": {\n        \"properties\": {\n          \"op\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"add\",\n              \"remove\",\n              \"replace\"\n            ]\n          },\n          \"path\": {\n            \"type\": \"string\"\n          },\n          \"value\": {\n            \"oneOf\": [\n              {\n                \"type\": \"string\"\n              },\n              {\n                \"type\": \"object\"\n              },\n              {\n                \"type\": \"array\",\n                \"items\": {}\n              }\n            ]\n          }\n        },\n        \"required\": [\n          \"op\"\n        ],\n        \"type\": \"object\"\n      },\n      \"examples\": [\n        {\n          \"op\": \"replace\",\n          \"value\": {\n            \"active\": false\n          }\n        }\n      ]\n    },\n    \"roles\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"value\": {\n            \"type\": \"string\"\n          },\n          \"primary\": {\n            \"type\": \"boolean\"\n          },\n          \"display\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\n    \"id\",\n    \"schemas\",\n    \"emails\",\n    \"active\",\n    \"meta\"\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "example": "SCIM /Users"
                    },
                    "description": {
                      "type": "string",
                      "example": "SCIM /Users provisioning endpoints"
                    },
                    "type": {
                      "type": "string",
                      "example": "object"
                    },
                    "properties": {
                      "type": "object",
                      "properties": {
                        "schemas": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "SCIM schema used."
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "minItems": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "examples": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "id": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "Unique identifier of an external identity"
                            },
                            "type": {
                              "type": "string",
                              "example": "string"
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "us1234567"
                              }
                            }
                          }
                        },
                        "externalId": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "The ID of the User."
                            },
                            "type": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "011d20ef-8563-42de-b367-09f3db13ca4a"
                              }
                            }
                          }
                        },
                        "userName": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "Configured by the admin. Primary email address only."
                            },
                            "type": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "pkinsel@notarize.com"
                              }
                            }
                          }
                        },
                        "displayName": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "The name of the user, suitable for display to end-users"
                            },
                            "type": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "example": "Pat Kinsel"
                              }
                            }
                          }
                        },
                        "name": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "object"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "givenName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  }
                                },
                                "familyName": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "example": {
                              "type": "object",
                              "properties": {
                                "givenName": {
                                  "type": "string",
                                  "example": "Pat"
                                },
                                "familyName": {
                                  "type": "string",
                                  "example": "Kinsel"
                                }
                              }
                            }
                          }
                        },
                        "emails": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "user emails"
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "primary": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "boolean"
                                        }
                                      }
                                    },
                                    "type": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "value"
                                  }
                                }
                              }
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "string",
                                    "example": "pkinsel@notarize.com"
                                  },
                                  "primary": {
                                    "type": "boolean",
                                    "example": true,
                                    "default": true
                                  }
                                }
                              }
                            }
                          }
                        },
                        "active": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "The active status of the User."
                            },
                            "type": {
                              "type": "string",
                              "example": "boolean"
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "object"
                            },
                            "properties": {
                              "type": "object",
                              "properties": {
                                "resourceType": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "examples": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "User"
                                      }
                                    }
                                  }
                                },
                                "created": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "format": {
                                      "type": "string",
                                      "example": "date-time"
                                    },
                                    "examples": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "2019-01-24T22:45:36.000Z"
                                      }
                                    }
                                  }
                                },
                                "lastModified": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "format": {
                                      "type": "string",
                                      "example": "date-time"
                                    },
                                    "examples": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "2019-01-24T22:45:36.000Z"
                                      }
                                    }
                                  }
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "string"
                                    },
                                    "format": {
                                      "type": "string",
                                      "example": "uri"
                                    },
                                    "examples": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "example": "https://api.notarize.com/scim/v1/organizations/or1234567/Users/us1234567"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "operations": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "example": "Set of operations to be performed"
                            },
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "minItems": {
                              "type": "integer",
                              "example": 1,
                              "default": 0
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "op": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        },
                                        "enum": {
                                          "type": "array",
                                          "items": {
                                            "type": "string",
                                            "example": "add"
                                          }
                                        }
                                      }
                                    },
                                    "path": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "value": {
                                      "type": "object",
                                      "properties": {
                                        "oneOf": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string",
                                                "example": "string"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "example": "op"
                                  }
                                },
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                }
                              }
                            },
                            "examples": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "op": {
                                    "type": "string",
                                    "example": "replace"
                                  },
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "active": {
                                        "type": "boolean",
                                        "example": false,
                                        "default": true
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "roles": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "example": "array"
                            },
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "object"
                                },
                                "properties": {
                                  "type": "object",
                                  "properties": {
                                    "value": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    },
                                    "primary": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "boolean"
                                        }
                                      }
                                    },
                                    "display": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string",
                                          "example": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "id"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{organization_id}/ServiceProviderConfig": {
      "get": {
        "summary": "Retrieve Service Provider Config",
        "description": "Returns a JSON structure that describes the SCIM resource operations compliance, authentication methods, and data models available.",
        "operationId": "get-service-provider-config",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"schemas\": [\n        \"urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig\"\n    ],\n    \"name\": \"Service Provider Configuration\",\n    \"documentationUri\": \"https://dev.notarize.com/\",\n    \"authenticationSchemes\": [\n        {\n            \"type\": \"apikey\",\n            \"name\": \"API Key Auth\",\n            \"description\": \"API key authorization bearer header\",\n            \"documentationUri\": \"https://dev.notarize.com/docs/authentication\",\n            \"primary\": true\n        }\n    ],\n    \"patch\": {\n        \"supported\": true\n    },\n    \"bulk\": {\n        \"supported\": false\n    },\n    \"filter\": {\n        \"supported\": false\n    },\n    \"changePassword\": {\n        \"supported\": false\n    },\n    \"sort\": {\n        \"supported\": false\n    },\n    \"etag\": {\n        \"supported\": false\n    },\n    \"meta\": {\n        \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/ServiceProviderConfig\",\n        \"resourceType\": \"ServiceProviderConfig\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig"
                      }
                    },
                    "name": {
                      "type": "string",
                      "example": "Service Provider Configuration"
                    },
                    "documentationUri": {
                      "type": "string",
                      "example": "https://dev.notarize.com/"
                    },
                    "authenticationSchemes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "apikey"
                          },
                          "name": {
                            "type": "string",
                            "example": "API Key Auth"
                          },
                          "description": {
                            "type": "string",
                            "example": "API key authorization bearer header"
                          },
                          "documentationUri": {
                            "type": "string",
                            "example": "https://dev.notarize.com/docs/authentication"
                          },
                          "primary": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    },
                    "patch": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": true,
                          "default": true
                        }
                      }
                    },
                    "bulk": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "filter": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "changePassword": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "sort": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "etag": {
                      "type": "object",
                      "properties": {
                        "supported": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string",
                          "example": "https://api.notarize.com/scim/v1/organizations/or1234567/ServiceProviderConfig"
                        },
                        "resourceType": {
                          "type": "string",
                          "example": "ServiceProviderConfig"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/{organization_id}/ResourceTypes": {
      "get": {
        "summary": "Retrieve Resource Types",
        "description": "",
        "operationId": "get-resource-types",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"itemsPerPage\": 10,\n  \"Resources\": [\n    {\n      \"description\": \"User Account\",\n      \"endpoint\": \"/Users\",\n      \"id\": \"User\",\n      \"meta\": {\n        \"location\": \"https://api.notarize.com/scim/v1/organizations/or1234567/ResourceTypes/User\",\n        \"resourceType\": \"ResourceType\"\n      },\n      \"name\": \"User\",\n      \"schema\": \"urn:ietf:params:scim:schemas:core:2.0:User\",\n      \"schemas\": [\n        \"urn:ietf:params:scim:schemas:core:2.0:ResourceType\"\n      ]\n    }\n  ],\n  \"schemas\": [\n    \"urn:ietf:params:scim:api:messages:2.0:ListResponse\"\n  ],\n  \"startIndex\": 1,\n  \"totalResults\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "itemsPerPage": {
                      "type": "integer",
                      "example": 10,
                      "default": 0
                    },
                    "Resources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "description": {
                            "type": "string",
                            "example": "User Account"
                          },
                          "endpoint": {
                            "type": "string",
                            "example": "/Users"
                          },
                          "id": {
                            "type": "string",
                            "example": "User"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string",
                                "example": "https://api.notarize.com/scim/v1/organizations/or1234567/ResourceTypes/User"
                              },
                              "resourceType": {
                                "type": "string",
                                "example": "ResourceType"
                              }
                            }
                          },
                          "name": {
                            "type": "string",
                            "example": "User"
                          },
                          "schema": {
                            "type": "string",
                            "example": "urn:ietf:params:scim:schemas:core:2.0:User"
                          },
                          "schemas": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "urn:ietf:params:scim:schemas:core:2.0:ResourceType"
                            }
                          }
                        }
                      }
                    },
                    "schemas": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "urn:ietf:params:scim:api:messages:2.0:ListResponse"
                      }
                    },
                    "startIndex": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Forbidden\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Forbidden"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"errors\": [\n        \"Organization Not Found\"\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Organization Not Found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": false
  },
  "x-readme-fauxas": true
}